

<div class="page-wrapper">
    <h1>Hello {{ name }}! ✅</h1>
    <a href="{{ path('about') }}">About me</a>

    <form action="{{ path('changeMyName') }}" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name" placeholder="What is your name, my precious?"><br>
        <input type="submit" name="submit_name">
    </form>
</div>

